$pink: #FFDCE7;
$magenta: #EE2F68;
$cyan: #0BCCE7;
$black: #252324;
$titles: "Lily Script One", system-ui;

@mixin stroke($color: white, $size: 4px) {
   text-shadow:
     -#{$size} -#{$size} 0 $color,
      0        -#{$size} 0 $color,
      #{$size} -#{$size} 0 $color,
      #{$size}  0        0 $color,
      #{$size}  #{$size} 0 $color,
      0         #{$size} 0 $color,
     -#{$size}  #{$size} 0 $color,
     -#{$size}  0        0 $color;
 }
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: $magenta;
 }


 .main {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: repeating-linear-gradient(
    45deg,
    white,
    white 20px,
    $pink 4px,
    $pink 24px
  );

  @media (width <= 500px) {
       height: auto;
       min-height: 100vh;
       padding: 20px;
       padding-right: 30px;
       padding-top: 120px;  
  }

   &__container {
      position: relative;
      width: 60%;
      height: 80%;
      padding-bottom: 30px;
      border-radius: 50px;
      background-color: $pink;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 50px;
      box-shadow: 10px 10px $magenta;
      border: 2px solid $magenta;

      @media (width <= 500px) {
         width: 100%;
         height: auto;
         min-height: 80vh;
         box-shadow: none;
         border: none;
         padding: 0px;
         border-radius: 0px;
         background-color: transparent;
         gap: 30px;
      }

      &--title {
         padding-top: 80px;
         display: flex;
         flex-direction: column;
         align-items: center;

         @media (width <= 500px) {
            padding-top: 0px;
            position: absolute;
            top: -100px;
         }
      }
   }

   .title {
      font-family: $titles;
      font-size: 3.5rem;
      @include stroke;
      position: relative;
      z-index: 1;

      @media (width <= 500px) {
            font-size: 2.2rem;
            padding-bottom: 10px;
      }

      &:after {
         z-index: -1;
         content: "Perla Shumajer";
         position: absolute;
         width: 100%;
         color: $cyan;
         @include stroke($cyan);
         transform: translate(-99%, 8%)
      }
   }

   .subtitle {
      font-weight: bold;
      letter-spacing: 1px;
   }

   &__credits {
      width: 100%;
      padding: 0 50px;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;

      @media (width <= 500px) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
         gap: 20px;
      }

      &--author {
         cursor: pointer;
         position: relative;
         font-weight: 500;

         @media (width <= 500px) {
            &::before {
               content: "â—";
               display: block;
               position: absolute;
               top: -20px;
               width: 100%;
               text-align: center;
            }
      }

         &:hover + .hidden {
            display: block;
          }
         
         &:hover {
            color: $cyan;
            text-shadow: 0px 0px 5px white, 0px 0px 5px white;
            @media (width <= 500px) {
               color: $magenta;
            }
         }
      }

      a {
         text-decoration: none;
         font-weight: 500;

         &:hover {
            color: $cyan;
            text-shadow: 0px 0px 5px white, 0px 0px 5px white;
            @media (width <= 500px) {
               color: $magenta;
            }
         }
      }

      &--bio {
         z-index: 1;
         position: absolute;
         background-color: white;
         padding: 20px 30px;
         border-radius: 10px;
         width: 50%;
         transform: translate(-98%, -110%);
         font-size: 1rem;
         color: #747072;
         border: 1px solid $magenta;
         box-shadow: 5px 5px $magenta;

         span {
            font-style: italic;
            color: inherit;
         }

         @media (width <= 500px) {
            width: 150%;
            position: relative;
            transform: translate(-15%, 2%);
         }
         
      }
   }
 }

 .hidden {
   display: none;
 }

 .card-container {
   width: 100%;
   height: 50%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   @media (width <= 500px) {
      height: auto;
      min-height: 45vh;
   }
 }

 .card {
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   justify-content: space-around;
   background-color: white;
   min-width: 40%;
   max-width: 55%;
   padding: 40px 50px 30px 50px;
   border-radius: 10px;
   box-shadow: 10px 10px $magenta, inset 10px 10px $cyan;

   @media (width <= 500px) {
      position: static;
      max-width: 100%;
   }
   
      &__quote {
         font-size: 1rem;
         color: $black;
         &:first-letter {
            text-transform: uppercase;
         }
         
      }

      &__author {
         width: 100%;
         font-size: 0.8rem;
         font-style: italic;
         text-align: right;
         color: $black;

         @media (width <= 500px) {
            padding-top: 20px;
            text-align: left;
         }
      }
 }

.button {
   margin-top: 20px;
   padding: 10px 20px;
   border-radius: 30px;
   border: none;
   background-color: $magenta;
   color: white;
   font-weight: bold;
   cursor: pointer;

   &:hover {
      transform: scale(1.05);
   }

   &:active {
      color: $cyan;
   }
}
